body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

main div#buttons {
    border: 1px solid black;
    margin: 10px;
    width: 65%;
}

main div#code {
    border: 1px solid black;
    margin: 10px;
    width: 35%;
}

.button-section, .add-remove-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

span {
    font-size: 20px;
    padding: 10px;
}

button {
    background-color:rgb(165, 208, 248);
    padding: 10px;
    border: none;
    margin: 5px;
}

button:hover, button.active {
    background-color: rgb(77, 164, 245);
    color: white;
}

#add {
    background-color:rgb(184, 248, 165)
}

#remove, #reset {
    background-color: rgb(248, 165, 165);
}

#add:hover {
    background-color:rgb(122, 243, 85);
    color: black;
}

#remove:hover, #reset:hover {
    background-color: rgb(255, 71, 71);
    color: white;
}

#flexbox-parent {
    display: flex;
    align-items: flex-start;
    border: 5px solid black;
    margin: 10px;
    width: 100%;
    height: 400px;
}

.flexbox-child {
    display: block;
    background-color: rgb(165, 165, 248);
    color: black;
    border: 5px solid rgb(130, 130, 245);
    margin: 10px;
    padding: 30px;
}