body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

span {
    font-size: 20px;
    padding: 10px;
}

button {
    background-color:rgb(165, 208, 248);
    padding: 10px;
    border: none;
    margin: 5px;
}

button:hover {
    background-color: rgb(77, 164, 245);
    color: white;
}

#flexbox-parent {
    display: flex;
    border: 5px solid black;
    margin: 10px;
    width: 100%;
}

.flexbox-child {
    display: block;
    background-color: rgb(165, 165, 248);
    color: black;
    border: 5px solid rgb(130, 130, 245);
    margin: 10px;
    padding: 30px;
}